# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI (Python application) & Terraform

on:
  push:
    branches: [ "l6-l7-gihub-actions-plus-terraform" ]
  pull_request:
    branches: [ "l6-l7-gihub-actions-plus-terraform" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:

  # ---------------- Set up Python 3.10 → Cache pip → Install dependencies → Lint with flake8 → Run tests
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    - name: Run tests
      run: |
        python -m unittest test.py
      env:
        CI: true

  # ---------------- setup → cache → init → fmt → validate → plan → apply
  terraform:
    runs-on: ubuntu-latest
    needs: ci

    steps:
    - uses: actions/checkout@v4
    - name: Setup Terraform
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      uses: hashicorp/setup-terraform@v2
      with:
          terraform_version: 1.14.2
          terraform_wrapper: false
    
    - name: Cache Terraform
      uses: actions/cache@v3
      with:
        path: |
          ${{ github.workspace }}/terraform/.terraform
          ${{ github.workspace }}/terraform/.terraform.lock.hcl
        key: ${{ runner.os }}-terraform-${{ hashFiles('terraform/.terraform.lock.hcl') }}

    - name: Terraform Init
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      id: init
      run: terraform init
      working-directory: terraform

    - name: Terraform Format    
      id: fmt
      run: terraform fmt -check
      working-directory: terraform
      continue-on-error: true

    - name: Terraform Validate
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      id: validate
      run: terraform validate
      working-directory: terraform

    - name: Terraform Plan
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      id: plan
      run: |
        terraform plan \
          -no-color \
          -input=false \
          -refresh=true \
          -out=tfplan
        
        terraform show -json tfplan > tfplan.json
      working-directory: terraform

    - name: Terraform Apply
      if: github.event_name == 'workflow_dispatch'
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform apply -input=false -auto-approve tfplan
      working-directory: terraform
